*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('images/maxresdefault.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: aliceblue;
    text-align: center;
}
.line{
    width: 150px;
    height: 5px;
    margin: 10px auto;
    background-color: brown;
    border-radius: 5px;
}
.header-content h2{
    font-size: 7vmin;
}
.header-content h3{
    font-size: 10vmin;
    margin: 15px auto;
}
.btn{
    padding: 10px 15px;
    border-radius: 30px;
    background-color: crimson;
    color: azure;
    text-decoration: none;
}
.navbar{
    display: flex;
    margin: 0;
    left: 0;
    position: absolute;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    color: azure;
}
ul{
    list-style: none;
}
.nav-links  li a{
    color: aliceblue;
    text-decoration: none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li{
    padding: 0px 30px;
}

li a:hover{
    background-color: whitesmoke;
    color: black;
    padding: 15px 25px;
    border-radius: 30px;
}
.logo{
    font-size: 7vmin;
    color: rgb(23, 24, 82);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
span{
    color:brown;
}
section{
    width: 80%;
    margin: 60px auto;
}
.title{
    text-align: center;
    font-size: 5vmin;
    color: brown;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .column{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.info .row{
    margin-top: 50px;
}
h4{
    margin: 20px auto;
    font-size: 3vmin;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}
p{
    padding: 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
    overflow-x: hidden;  
}
.second{
    width: 100%;
    height: 80vh;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(115,255,251,0.06486344537815125) 100%, rgba(230,146,146,1) 100%);
}
.text{
    width: 80%;
    padding: 50px;
    color: whitesmoke;
}
.text h2{
    font-size: 10vmin;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.text p{
    margin-bottom: 50px;
    font-size: 5vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text .btn{
    margin: 50px 70px;
}
.text .line{
    width: 150px;
    height: 6px;
    margin: 20px 45px;

}
.footer{
    margin: 0px;
    width: 100%;
    padding: 10px 80px;
    background-color:darkgray;
    text-align: center;
    color: aliceblue;
    height: 100px;
}
.footer p{
    margin: 10px auto;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/*fr mobile */
/*info k row or column k liye haiii */
@media only screen and (max-width:640px){

    .row{
        flex-direction: column;
    }

    .column img{

        width: 90%;

    }

    .row .column{
        margin: 10px auto;
    }

    .text {
        width: 100%;
    }

    .text p{
        font-size: 4vmin;
    }

    .navbar{
        padding: 0;
    }

    .logo{
        top: 30px;
        left: 30px;
        position: absolute;
    }

    .nav-links{
        margin-top: -900px;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color:rgb(146, 90, 90);
    }

    .nav-links li{
        margin: 30px auto;
    }



    .mobile-menu{
        margin-top: 0;
    }

    .menu-btn{
        display:block;
    }
}